.mainButton {
    background-color: white;
    color: black;
    text-align: center;
    border: none;
    width: 20%;
    height: 50px;
    display: block;
    float: left;
    border-top: 2px solid black;
    padding: none;
}

.mainButton:disabled {
    background-color: grey;
}

.mainButton:focus {
    outline: none;
}

.mainButton:hover {
    background-color: grey;
}

.mainWindowDiv {
    width: 100%;
    height: 100%;
}

.buttonsDiv {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    border: none;
}

.screensDiv {
    top: 0;
    height: calc(100% - 50px);
    width: 100%;
    border: none;
}

.container {
    width: 100%;
    height: 100%;
    border: none;
    padding: 0px;
    margin: 0px;
}

.searchBar {
    width: calc(100% - 4px); /* 100% - border width */
    margin-bottom: 2px;
    padding: 0px;
}

.searchBar:focus {
    outline: none;
}

.libraryPath {
    text-align: center;
    background-color: white;
    width: 100%;
    height: 50px;
}

.pathInput {
    width: 90%;
    padding: 0px;
}

.resultsDiv {
    height: calc(100% - 17px);
    width: 100%;
    overflow: scroll;
}

/* Library Item / Search result */
.tileDiv {
    width: 100%;
    height: 50px;
    background-color: white;
    margin-bottom: 2px;
}

.settingTile {
    width: 100%;
    height: 50px;
    background-color: white;
    text-align: center;
    margin-bottom: 2px;
}

.tileButton {
    height: 50px;
    width: 20%;

    background-color: blue;
    color: black;
    text-align: center;
    border: none;
    display: block;
    float: right;
}

.tileButton:focus {
    outline: none;
}

.tileButton:hover {
    filter: brightness(80%);
}

/* Popup */
.popup {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.popup-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding-top: 3%;
    height: 10%;
    text-align: center;
    border: 1px solid #888;
    width: 60%; /* Could be more or less, depending on screen size */
}

.popup-input {
    width: 90%;
}

html {
    height: 100%;
}

body {
    background-color: black;
    align-content: center;
    height: 100%;
    margin: 0;
}

video {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
